extends ../layouts/default

block content
    #challengeheader
      .container
        .row.centered
          .col-lg-12
            h2 A faster way to boost conversion
            h4
              | Use the world's largest optimization network to boost performance
            img.homepage_screenshot(src='/images/product_screenshot.png', width='600', height='450')
      // container
    // challengeheader

    .container.w
      .row
        .col-lg-12
          h2 Get test ideas, lightning-fast
          p
            | Let experts from 20+ countries review your site and <br>provide ideas for increased performance.
      .row
        .col-lg-12
          h2 Easy implementation
          p
            | Simply install one piece of testing code on your site. We'll do <br>
            | all the heavy lifting to make design changes to your site.
      .row
        .col-lg-12
          h2 Pay for results
          p
            | No agency or consulting fees. Our pay-on-performance pricing model makes sure <br>
            | you only pay for conversion improvement.  
      .row
        .col-lg-12
          h2 Want to learn more?
          p
            | Get a free evalation for your site.   
      br
      br
    // container
    // PORTFOLIO SECTION
