extends ../layouts/default

block content
    #headerwrap
      .container
        //
          div class="row centered">
            
                        <!--div class="col-lg-12">
                        <h5>Overview | Websites & Landing Pages | Mobile Apps | Email | Price | Speed | Personalization</h5>
                    
                        </div
        // /div
        .row.centered
          .col-lg-12
            h2 Put the power of experts behind you 
            h4
              | Combine expert insights with cash incentives to maximize perfomance
            img.homepage_screenshot(src='/images/product_screenshot.png', width='900', height='600')
      // container
    // headerwrap

    .container.w
      .row
        .col-lg-6
          h2 Image
        .col-lg-6
          h2 Step 1: Free Evaluation
          p
            | We'll put your site in front of our team of experts and source optimization ideas
            | in the following areas:
          .row
            .col-lg-3
              ul
                li
                  b Design
                li
                  b Usability
                li
                  b Copy
            .col-lg-3
              ul
                li
                  b Speed
                li
                  b Price
                li
                  b Personalization
          br
          p
            | Example: After reviewing www.upliftroi.com, our experts may first determine that
            | the site could be tested for (1) copy, (2) design, and (3) price. We'll record
            | what specific ideas each expert has and prioritize them based on estimated impact.
      // row
      .row
        .col-lg-6
          h2 Image
        .col-lg-6
          h2 Step 2: Build your Team
          p
            | Depending on your needs, vertical, and size, we'll match you to a team
            | of experts with industry experience. We'll also include a
            | lead optimizer to coordinate all testing.
      // row
      .row
        .col-lg-6
          h2 Image
        .col-lg-6
          h2 Step 3: Install Optimization Code
          p
            | Your lead optimizer will coordinate experiments, sequentially testing each concept
            | for improvement (or letting the optimizers test themselves).
      // row
      .row
        .col-lg-6
          h2 Image
        .col-lg-6
          h2 Step 4: Sequential Optimization
          p
            | Your lead optimizer will coordinate experiments, sequentially testing each concept
            | for improvement (or letting the optimizers test themselves).
      // row
      .row
        .col-lg-6
          h2 Image
        .col-lg-6
          h2 Step 5: Results & Payment
          p
            | We'll continue testing your site until maximal conversion is reached. Then, you'll simply release payment, we'll push your new design live, and you've got a higher converting
            | site.
      // row
      br
      br
    // container
    // PORTFOLIO SECTION
    #dg
      .container
        .row
          h4 What We Test
          br
          .col-lg-4
            h3 Design
          .col-lg-4
            h3 Usability
          .col-lg-4
            h3 Copy
        // row
        .row
          .col-lg-4
            h3 Speed
          .col-lg-4
            h3 Price
          .col-lg-4
            h3 Personalization
        // row
      // container
    // DG