extends ../layouts/default

block content
    //
            
    #headerwrap
      .container
        .row
          .col-lg-12
            h2.text-center.headline 
              | Increase conversion rate - guaranteed
            h5.text-center
              br
              | Challenge top optimization experts to improve site performance. <b><i>Only pay for </i><i>results</i></b>. 
              br
              br
              br
              form.form-inline
                .form-group
                  label.sr-only(for='inputEmail') Type your URL
                  input#inputURL.form-control(type='email', placeholder='Type your URL')
                .form-group
                  label.sr-only(for='inputPassword') Email
                  input#inputEmail.form-control(type='email', placeholder='Enter your email')
                button.btn.btn-primary(type='submit') Get Started
      // container
    // headerwrap