extends ../layouts/default

block content
	.container.home
		.row
			.col-lg-12
				h2.text-center.headline Improve Conversion Rate - Guaranteed
				p.text-center Challenge top optimization experts to boost performance. Only pay for results. 
				br
				form.form-inline
					.form-group
						label.sr-only(for="inputEmail"). Type your URL
						input.form-control(type="Email", id="inputURL", placeholder="Type your URL").
					.form-group
						label.sr-only(for="inputPassword"). Email
						input.form-control(type="Email", id="inputEmail", placeholder="Enter your email").
					button.btn.btn-primary(type="submit"). Get Started
			
