extends ../layouts/default

block content
    #pricingheader
      .container
        .row
          .col-md-12.centered
            h2 Pay on performance pricing
            h4 Guaranteed 10% improvement or your money back*
            br
        .row
          .col-md-4
            .panel.panel-danger
              .panel-heading
                h3.text-center Entrepreneur
                p.text-center
                  i Up to 5,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 3x ROI
                  br
                  | Guarnateed Lift - 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Starts at $499
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
          .col-md-4
            .panel.panel-info
              .panel-heading
                h3.text-center Growing Business
                p.text-center
                  i Up to 50,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 5x ROI
                  br
                  | Guaranteed Lift of 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Starts at $1499
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
          .col-md-4
            .panel.panel-success
              .panel-heading
                h3.text-center Enterprise
                p.text-center
                  i Over 50,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 8x ROI
                  br
                  | Guaranteed Lift of 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Custom Quote
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
    // headerwrap
    .pricingfaq
      .container
        .row
          .col-lg-6
            h3.text-center How long will it take?
            p
              | Challenges typically last 2-8 weeks. It depends on many unique visitors your
              | website receives. More visitors means less time to reach statistical significance.
          .col-lg-6
            h3.text-center How do you make site changes?
            p
              | We make all site changes. You simply install one piece of javascript code into your
              | site's header tag, and we'll take care of the rest.
        // row
        .row
          br
          .col-lg-6
            h3.text-center What kind of reports will I get?
            p
              | You'll have full access to the test results during and after testing, clearly showing
              | the performance of our test designs versus your original site.
          .col-lg-6
            h3.text-center How do you determine results?
            p
              | All results are determined at a 95% confidence interval. Results must hold for a 
              | minimum of one week to be proven valid.
        .row
          .col-lg-12
            h3.text-center Have more questions?
            br
            p
              | Send us an email
        // row
      // container
    // pricingfaq

