extends ../layouts/default

block content
    #headerwrap
      .container
        .row
          .col-md-12.centered
            h2 Pay on performance pricing
            h4 Guaranteed 10% improvement or your money back*
            br
        .row
          .col-md-4
            .panel.panel-danger
              .panel-heading
                h3.text-center Entrepreneur
                p.text-center
                  i Up to 5,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 3x ROI
                  br
                  | Guarnateed Lift - 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Starts at $499
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
          .col-md-4
            .panel.panel-info
              .panel-heading
                h3.text-center Growing Business
                p.text-center
                  i Up to 50,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 5x ROI
                  br
                  | Guaranteed Lift of 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Starts at $1499
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
          .col-md-4
            .panel.panel-success
              .panel-heading
                h3.text-center Enterprise
                p.text-center
                  i Over 50,000 unique visitors/mo
                p.text-center
                  | Get an average
                  b 8x ROI
                  br
                  | Guaranteed Lift of 10%
              .panel-body.text-center
                p.text-center(style='font-size:24px') Custom Quote
              .panel-footer
                a.btn.btn-lg.btn-block.btn-danger(href='https://creativemarket.com/artlabs/12114-Bootstrap-3.0.-pricing-tables-flat') Get a Quote
    // headerwrap
    #dg
      .container
        .row
          h3.text-center FAQ
          br
          .col-lg-6
            h3 How much does it cost?
          .col-lg-6
            h3 How soon until I see results?
        // row
        .row
          br
          .col-lg-6
            h3 How many optimizers will work on my site?
          .col-lg-6
            h3 So is this a contest? How are optimizers paid?
        // row
      // container
    // DG