include ../mixins/flash-messages

doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        title= title || 'uplift'

        link(href="/css/bootstrap.css", rel="stylesheet")
        link(href="/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/main.css", rel="stylesheet")

        //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //-[if lt IE 9]
            script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
            script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        //-[endif]

        //- Include template-specific stylesheets by extending the css block
        block css

        //- Add any other template-specific HEAD tags by extending the head block
        block head

    //- HTML BODY
    body
        .navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              a.navbar-brand(href='/') uplift
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='/challenge') Challenges
                li
                  a(href='/') Personalization
                li
                  a(href='/pricing') Pricing
                li
                  a(href='/') Resources
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') Get Started >
            // /.nav-collapse

        block intro

        +flash-messages(messages)

        block content            

        // FOOTER
        #f
          .container
            .col-lg-4
              br
              | Terms of Service | Privacy | Policy
              p
            .col-lg-6
              br
              | Challenges |
              | Personalization |
              | Pricing |
              | Partnerships |
              | Resources
            .col-lg-2.pull-right
              a(href='#')
                i.fa.fa-twitter
          // row
        // container
        // Footer
        // MODAL FOR CONTACT
        // Modal
        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title contact us
              .modal-body
                .row.centered
                  p We are available 24/7, so don't hesitate to contact us.
                  p
                    | Somestreet Ave, 987
                    br
                    | London, UK.
                    br
                    | +44 8948-4343
                    br
                    | hi@blacktie.co
                  #mapwrap
                    iframe(height='300', width='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.es/maps?t=m&ie=UTF8&ll=52.752693,22.791016&spn=67.34552,156.972656&z=2&output=embed')
              .modal-footer
                button.btn.btn-danger(type='button', data-dismiss='modal') Save & Go
            // /.modal-content
          // /.modal-dialog
        // /.modal